<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    document.getElementById("sm-wrapper").remove()
</script>

<body>
    <form action="/add-student" method="post">
        <input type="text" name="name">
        <input type="date" name="born">
        <select name="passport">
            <option value="Паспорт/ID-карта">Паспорт/ID-карта</option>
            <option value="Свидетельство о рождении">Свидетельство о рождении</option>
            <option value="Паспорт другого государства">Паспорт другого государства</option>
        </select>
        <select name="serial">
            <option value="AA">AA</option>
            <option value="AB">AB</option>
            <option value="AC">AC</option>
            <option value="AD">AD</option>
            <option value="AAA">AAA</option>
        </select>
        <input type="tel" name="tel" placeholder="phone number">
        <input type="text" name="adress" placeholder="Adress">
        <input type="text" name="mother_name" placeholder="Mother name">
        <input type="text" name="father_name" placeholder="Father name">
        <select name="family">
            <option value="Полноценная">Полноценная</option>
            <option value="В разводе">В разводе</option>
            <option value="Приёмные">Приёмные</option>
        </select>
        <label for="img">Выбрать фото</label>
        <input id="img" type="file" accept="image/webp" required>
        <button>Сохранить</button>
    </form>
</body>
<script>
    const id = window.location.href.slice(27)
    const response = fetch("/id", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ data: id })
    })
</script>

</html>