<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/add_student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>online-base.uz</title>
</head>

<body>
    <div class="container">
        <nav>
            <div>
                <h1 class="nav_link">online-base.uz</h1>
                <span class="searching"></span>
            </div>
            <img id="profile-img">
        </nav>
        <div class="student-form-field">
            <div class="center_field">
                <form action="/add-student" method="post" enctype="multipart/form-data">
                    <label for="img">
                        <img id="labelImg" src="/images/error/choose.webp">
                    </label>
                    <div class="student_inputs">
                        <h1>Ученик:</h1>
                        <input type="text" placeholder="Ф.И.О." name="student_name" required>
                        <input type="date" name="student_birth_date" required>
                        <!-- <input type="date" name="student_accept_date" required> -->
                        <input type="text" placeholder="Серия документа" name="student_serial_number" required>
                        <input type="tel" placeholder="+998(90)000-00-00" name="student_tel" required>
                        <input type="text" placeholder="Адрес" name="student_adress" required>
                        <input type="text" placeholder="Махалла" name="student_mahalla" required>
                        <textarea name="student_attraction"
                            placeholder="Увлечения ребёнка(Интересы,Изучаемые языки,Посещяемые кружки)" cols="30"
                            rows="5" required></textarea>
                        <textarea name="student_health_status" placeholder="Состояние здоровья (группа, диагноз)"
                            cols="30" rows="5" required></textarea>
                        <select id="family_status" name="family_status" required>
                            <option value="none">Состояние семьи</option>
                            <option value="Малообеспеченная">Малообеспеченная</option>
                            <option value="Социально-опасное положение">Социально-опасное положение</option>
                            <option value="Полная">Полная</option>
                            <option value="Не полная">Не полная</option>
                            <option value="Многодетная (3 и более детей)">Многодетная (3 и более детей)</option>
                            <option value="мать вдова">Мать вдова</option>
                            <option value="отец вдовец">Отец вдовец</option>
                            <option value="сирота (воспитанник семейного детского дома)">Сирота</option>
                        </select>
                        <input type="file" id="img" style="display: none;" name="img" accept="image/webp" required>
                    </div>
                    <div class="parents">
                        <div class="mother_inputs">
                            <h1>Мать:</h1>
                            <input type="text" placeholder="Ф.И.О." name="mother_name" required>
                            <input type="text" placeholder="Серия паспорта" name="mother_serial_number" required>
                            <input type="date" name="mother_birth_date" required>
                            <input type="text" placeholder="Адрес" name="mother_adress" required>
                            <input type="text" placeholder="Махалла" name="mother_mahalla" required>
                            <input type="tel" placeholder="+998(90)000-00-00" name="mother_tel" required>
                            <input type="text" placeholder="Место работы" name="mother_workplace" required>
                        </div>
                        <div class="father_inputs">
                            <h1>Отец:</h1>
                            <input type="text" placeholder="Ф.И.О" name="father_name" required>
                            <input type="text" placeholder="Серия паспорта" name="father_serial_number" required>
                            <input type="date" name="father_birth_date" required>
                            <input type="text" placeholder="Адрес" name="father_adress" required>
                            <input type="text" placeholder="Махалла" name="father_mahalla" required>
                            <input type="tel" placeholder="+998(90)000-00-00" name="father_tel" required>
                            <input type="text" placeholder="Место работы" name="father_workplace" required>
                            <button type="submit">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="profile-container">
        <div class="profile-div">

        </div>
    </div>
</body>
<script>
    document.querySelector("label").style.height = document.getElementsByClassName("student_inputs")[0].clientHeight + "px"
    document.getElementsByClassName("student_inputs")[0].addEventListener("input", () => {
        document.querySelector("label").style.height = document.getElementsByClassName("student_inputs")[0].clientHeight + "px"
    })
    document.getElementsByClassName("nav_link")[0].addEventListener("click", () => {
        window.location.href = "/"
    })
    document.querySelector("#img").addEventListener("change", function () {
        const reader = new FileReader();
        reader.onload = function (e) {
            document.querySelector("#labelImg").src = e.target.result
        }
        reader.readAsDataURL(this.files[0]);
        const formData = new FormData();
        formData.append('image', this.files[0]);
    })
    const id = window.location.href.slice(-45, -32)
    const response = fetch("/id", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ data: id })
    })
        .then(response => response.json())
        .then(data => {
            let arr = []
            arr.push(data)
            document.getElementsByClassName('profile-div')[0].innerHTML =
                arr.map(i => {
                    if (arr[0].el.role == "admin") {
                        return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                    }
                    else {
                        return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <p>Класс:  ${arr[0].el.class_num} ${arr[0].el.class_letter}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                    }
                })
            document.getElementById("profile-img").src = arr[0].el.img
            document.getElementById("img-top").src = arr[0].el.img
        })
    document.querySelectorAll("select")[0].addEventListener("change", (e) => {
        let value = e.target.value
        if (value != "Выберите класс") {
            document.querySelector("#" + e.target.id).style.color = "#000"
        } if (value == "none") {
            document.querySelector("#" + e.target.id).style.color = "gray"
        }
    })
    function logout() {
        fetch("/logout", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: false })
        })
        window.location.href = "/"
    }
    setTimeout(() => {
        let profile = document.getElementsByClassName('profile-container')[0];
        let profile_img = document.getElementById('profile-img');
        let exit_btn = document.getElementsByClassName('exit-btn')[0];

        exit_btn.addEventListener('click', () => {
            profile.classList.remove('__visible')
        })
        profile_img.addEventListener('click', () => {
            profile.classList.add('__visible')
        })
    }, 1000);
</script>

</html>