<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body class="add-class">
    <form class="add-form" action="/add-class" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="login" name="log" required>
        <input type="pasword" placeholder="password" name="pass" required>
        <select id="class" name="clas" required>
            <option value="Выберите класс">Выберите класс</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
        <select id="letter" name="letter" required>
            <option value="Выберите букву">Выберите букву</option>
            <option value="А">А</option>
            <option value="Б">Б</option>
            <option value="В">В</option>
            <option value="Г">Г</option>
            <option value="Д">Д</option>
            <option value="Ё">Ё</option>
            <option value="Ж">Ж</option>
            <option value="З">З</option>
            <option value="И">И</option>
            <option value="К">К</option>
            <option value="л">л</option>
            <option value="М">М</option>
        </select>
        <input type="text" placeholder="teacher name" name="name" required>
        <label for="img">Выбрать фото</label>
        <input id="img" type="file" accept="image/webp" required>
        <button class="save_btn">Сохранить</button>
    </form>
</body>

</html>