<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>online-base.uz</title>
</head>

<body class="/add-class">
    <img id="labelImg">
    <form class="add-form" action="/add-class" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="login" name="log" required>
        <input type="pasword" placeholder="password" name="pass" required>
        <select id="class" name="class_num" required>
            <option value="Выберите класс">Выберите класс</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select>
        <select id="letter" name="letter" required>
            <option value="Выберите букву">Выберите букву</option>
            <option value="А">А</option>
            <option value="Б">Б</option>
            <option value="В">В</option>
            <option value="Г">Г</option>
            <option value="Д">Д</option>
            <option value="Е">Е</option>
            <option value="Ж">Ж</option>
            <option value="З">З</option>
            <option value="И">И</option>
            <option value="К">К</option>
            <option value="Л">Л</option>
            <option value="М">М</option>
        </select>
        <!-- <select name="subject" required>
            <option value="Литература">Литература</option>
            <option value="Матеметика">Матеметика</option>
            <option value="Химия">Химия</option>
            <option value="Биология">Биология</option>
            <option value="География">География</option>
            <option value="Физра">Физра</option>
            <option value="Экономика">Экономика</option>
            <option value="Музыка">Музыка</option>
            <option value="Труд">Труд</option>
            <option value="История">История</option>
            <option value="Информатика">Информатика</option>
            <option value="ИЗО">ИЗО</option>
            <option value="Физика">Физика</option>
            <option value="Английский">Английский</option>
            <option value="Право">Право</option>
            <option value="ДНВП">ДНВП</option>

        </select> -->
        <input type="text" placeholder="teacher name" name="name" required>
        <input id="img" type="file" accept="image/webp" name="img" required>
        <button class="save_btn">Сохранить</button>
    </form>
</body>
<script>
    document.querySelector("#img").addEventListener("change", function () {
        const reader = new FileReader();
        reader.onload = function (e) {
            document.querySelector("#labelImg").src = e.target.result
        }
        reader.readAsDataURL(this.files[0]);
        const formData = new FormData();
        formData.append('image', this.files[0]);
    })
</script>

</html>