<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #sm-wrapper {
        display: none !important;
    }
</style>

<body>
    <form action="/add-student" method="post">
        <input type="text" name="name">
        <input type="date" name="born">
        <button>Сохранить</button>
    </form>
</body>
<script>
    const id = window.location.href.slice(27)
    const response = fetch("/id", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ data: id })
    })
</script>

</html>