<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/swiper.css">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <title>online-base.uz</title>
</head>

<style>
    .toast {
        display: none;
        position: absolute;
        top: 25px;
        right: 30px;
        border-radius: 12px;
        background: #fff;
        padding: 20px 35px 20px 25px;
        box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transform: translateX(calc(100% + 30px));
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    }

    .toast.active {
        display: flex !important;
        transform: translateX(0%);
    }

    .toast .toast-content {
        display: flex;
        align-items: center;
    }

    .toast-content .check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        min-width: 35px;
        background-color: rgb(255, 0, 0);
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
    }

    .toast-content .message {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .message .text {
        font-size: 16px;
        font-weight: 400;
        color: #666666;
    }

    .message .text.text-1 {
        font-weight: 600;
        color: #333;
    }

    .toast .close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px;
        cursor: pointer;
        opacity: 0.7;
    }

    .toast .close:hover {
        opacity: 1;
    }

    .toast .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;

    }

    .toast .progress:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(255, 0, 0);
    }

    .progress.active:before {
        animation: progress 2s linear forwards;
    }

    @keyframes progress {
        100% {
            right: 100%;
        }
    }
</style>

<body>
    <div class="toast">
        <div class="toast-content">
            <i class="fa-solid fa-exclamation check"></i>
            <div class="message">
                <span class="text text-1"></span>
                <span class="text text-2"></span>
            </div>
        </div>
        <span class="close">x</span>
        <div class="progress"></div>
    </div>
    <div class="container">
        <nav>
            <div>
                <h1 class="nav_link">online-base.uz</h1>
                <span class="searching"></span>
            </div>
            <img id="profile-img">
        </nav>
        <h1 id="class_num_h1"></h1>
        <div class="swiper">
            <div id="swiper" class="swiper-wrapper">
                <div class="swiper-slide" id="1">
                    <table>
                        <thead>
                            <tr>
                                <th>Ф.И.О</th>
                                <th>Номер</th>
                                <th>Адрес</th>
                                <th>Махалля</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div id="field"></div>
    </div>
    <div class="profile-container">
        <div class="profile-div">

        </div>
    </div>
    <footer>
        <div class="topDiv">
            <div> <a href="https://t.me/webxperts" class="media_link"><i class="fa-brands fa-telegram"></i></a></div>
            <div> <a href="mailto:webxperts.uz@gmail.com" class="media_link"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <div> <a href="https://instagram.com/webxperts_uz?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                    class="media_link"><i class="fa-brands fa-instagram"></i></a></div>
            <div> <a href="https://t.me/webxperts_uz" class="media_link"><i class="fa-solid fa-bullhorn"></i></a>
            </div>
        </div>
        <div class="bottomDiv">
            <p class="copy"><i class="fa-regular fa-copyright"></i> 2023 Copyright: <a
                    href="https://www.webxperts.uz">www.webxperts.uz</a></p>
        </div>
    </footer>
</body>
<script>
    function logout() {
        fetch("/logout", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: false })
        })
        window.location.href = "/"
    }
    document.getElementsByClassName("nav_link")[0].addEventListener("click", () => {
        window.location.href = "/"
    })
    window.onload = function () {
        const classId = window.location.href.slice(-13)
        const userId = window.location.href.slice(-33, -20)
        const period = window.location.href.slice(-54, -39)
        const res = fetch("/id", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: userId })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName('profile-div')[0].innerHTML =
                    arr.map(i => {
                        if (arr[0].el.role == "admin") {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                        else {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <p>Класс:  ${arr[0].el.class_num} "${arr[0].el.class_letter}"</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                    })


                document.getElementById("profile-img").src = arr[0].el.img
                document.getElementById("img-top").src = arr[0].el.img
                const date_res = fetch("/date", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ data: "200" })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.date == period) {
                            document.getElementById("field").innerHTML =
                                arr.map(i => {
                                    return `<div><a class="teacher-link" id="teacher-link" href="/user:${userId}/class:${classId}/add-student"><button class="button-31" role="button">Добавить Ученика</button></a></div>
                                <div><button id="removeClass" class="button-31" role="button">Удалить Класс</button></div>
                        `
                                }).join("")
                        }
                    })

            })

        const response = fetch("/classid", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: classId, period: period })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementById("class_num_h1").innerText = `Класс: ${arr[0].el.class_num} "${arr[0].el.class_letter}"`
                document.getElementById("tbody").innerHTML =
                    arr[0].el.students.map(x => {
                        return `
                                                <tr>
                                                <td><a href=/period:${period}/user:${userId}/class:${classId}/student:${x.id}>${x.student_name}</a></td>
                                                <td>${x.student_tel}</td>
                                                <td>${x.student_adress}</td>
                                                <td>${x.student_mahalla}</td>
                                                </tr>
                                    `
                    }).join(" ")
            })
        setTimeout(() => {
            document.getElementById("removeClass").addEventListener("click", () => {
                fetch("/remove/class", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ cid: classId, uid: userId })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.link) {
                            window.location.href = data.link
                        }
                        if (data.err) {
                            toast = document.querySelector(".toast");
                            document.querySelector(".text-1").textContent = "Ошибка"
                            document.querySelector(".text-2").innerHTML = `${data.err[0]}`
                                (closeIcon = document.querySelector(".close")),
                                (progress = document.querySelector(".progress"));

                            let timer1, timer2;

                            toast.classList.add("active");
                            progress.classList.add("active");

                            timer1 = setTimeout(() => {
                                toast.classList.remove("active");
                            }, 2000); //1s = 1000 milliseconds

                            timer2 = setTimeout(() => {
                                progress.classList.remove("active");
                            }, 2300);

                            closeIcon.addEventListener("click", () => {
                                toast.classList.remove("active");

                                setTimeout(() => {
                                    progress.classList.remove("active");
                                }, 300);

                                clearTimeout(timer1);
                                clearTimeout(timer2);
                            });
                        }
                    })
            })
            let profile = document.getElementsByClassName('profile-container')[0];
            let profile_img = document.getElementById('profile-img');
            let exit_btn = document.getElementsByClassName('exit-btn')[0];

            exit_btn.addEventListener('click', () => {
                profile.classList.remove('__visible')
            })
            profile_img.addEventListener('click', () => {
                profile.classList.add('__visible')
            })
        }, 1000);

    }
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'


    var swiper = new Swiper(".swiper", {
        noSwiping: true,
        noSwipingClass: 'swiper-slide',
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            renderBullet: function (index, className) {
                return '<span class="' + className + '">' + (index + 1) + "</span>";
            },
        },
    });

</script>

</html>