<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/swiper.css">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <title>online-base.uz</title>
</head>


<body>
    <div class="container">
        <nav>
            <div>
                <h1 class="nav_link">online-base.uz</h1>
                <span class="searching"></span>
            </div>
            <img id="profile-img">
        </nav>
        <h1 id="class_num_h1"></h1>
        <div class="swiper">
            <div id="swiper" class="swiper-wrapper">
                <div class="swiper-slide" id="1">
                    <table>
                        <thead>
                            <tr>
                                <th>Ф.И.О</th>
                                <th>Номер</th>
                                <th>Адрес</th>
                                <th>Махалля</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div id="field"></div>
    </div>
    <div class="profile-container">
        <div class="profile">

        </div>
    </div>
</body>
<script>
    function logout() {
        fetch("/logout", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: false })
        })
        window.location.href = "/"
    }
    document.getElementsByClassName("nav_link")[0].addEventListener("click", () => {
        window.location.href = "/"
    })
    window.onload = function () {
        const classId = window.location.href.slice(-13)
        const userId = window.location.href.slice(-33, -20)
        const period = window.location.href.slice(-54, -39)
        const res = fetch("/id", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: userId })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName('profile')[0].innerHTML =
                    arr.map(i => {
                        if (arr[0].el.role == "admin") {
                            return `<i class="exit-btn fa-solid fa-xmark"></i>
                <div class="col info_1">
                    <img id="img-top">
                    <p class="profile_name"><span>Ф.И.О: </span>${arr[0].el.name}</p>
                    <p><span>ID: </span>${arr[0].el.id}</p>
                </div>
                <div class="col_btn"> <button onclick="logout()">Выйти</button></div>
                `
                        }
                        else {
                            return `<i class="exit-btn fa-solid fa-xmark"></i>
                <div class="col info_1">
                    <img id="img-top">
                    <p class="profile_name"><span>Ф.И.О: </span>${arr[0].el.name}</p>
                    <p><span>ID: </span>${arr[0].el.id}</p>
                </div>
                <div class="col info_2">
                    <p><span>Класс: </span>${arr[0].el.class_num} "${arr[0].el.class_letter}"</p>
                    <p><span>Кол-во: </span>${arr[0].el.students.length}</p>
                    <p><span>Предмет: </span>${arr[0].el.subject}</p>
                </div>
                <div class="col_btn"> <button onclick="logout()">Выйти</button></div>
                `
                        }
                    })


                document.getElementById("profile-img").src = arr[0].el.img
                document.getElementById("img-top").src = arr[0].el.img
                const date_res = fetch("/date", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ data: "200" })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.date == period) {
                            document.getElementById("field").innerHTML =
                                arr.map(i => {
                                    return `<div><a class="teacher-link" id="teacher-link" href="/user:${userId}/class:${classId}/add-student"><button class="button-31" role="button">Добавить Ученика</button></a></div>
                                <div><button id="removeClass" class="button-31" role="button">Удалить Класс</button></div>
                        `
                                }).join("")
                        }
                    })

            })

        const response = fetch("/classid", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: classId, period: period })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementById("class_num_h1").innerText = "Класс: " + arr[0].el.class_num + " " + arr[0].el.class_letter
                document.getElementById("tbody").innerHTML =
                    arr[0].el.students.map(x => {
                        return `
                                                <tr>
                                                <td><a href=/period:${period}/user:${userId}/class:${classId}/student:${x.id}>${x.student_name}</a></td>
                                                <td>${x.student_tel}</td>
                                                <td>${x.student_adress}</td>
                                                <td>${x.student_mahalla}</td>
                                                </tr>
                                    `
                    }).join(" ")
            })
        setTimeout(() => {
            document.getElementById("removeClass").addEventListener("click", () => {
                fetch("/remove/class", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ cid: classId, uid: userId })
                })
                    .then(response => response.json())
                    .then(data => {
                        window.location.replace(data.url)
                    })
            })
            let profile = document.getElementsByClassName('profile-container')[0];
            let profile_img = document.getElementById('profile-img');
            let exit_btn = document.getElementsByClassName('exit-btn')[0];

            exit_btn.addEventListener('click', () => {
                profile.classList.remove('__visible')
            })
            profile_img.addEventListener('click', () => {
                profile.classList.add('__visible')
            })
        }, 1000);

    }
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'


    var swiper = new Swiper(".swiper", {
        noSwiping: true,
        noSwipingClass: 'swiper-slide',
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            renderBullet: function (index, className) {
                return '<span class="' + className + '">' + (index + 1) + "</span>";
            },
        },
    });

</script>

</html>