<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/edit_student.css">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <title>online-base.uz</title>
</head>


<body>
    <div class="container">
        <nav>
            <div>
                <h1 class="nav_link">online-base.uz</h1>
                <span class="searching"></span>
            </div>
            <img id="profile-img">
        </nav>
        <div class="student-form-field">
            <div class="center_field">

            </div>
        </div>
        <footer>
            <div class="topDiv">
                <div>
                    <a href="https://t.me/webxperts" class="media_link"><i class="fa-brands fa-telegram"></i></a>
                </div>
                <div> <a href="mailto:webxperts.uz@gmail.com" class="media_link"><i
                            class="fa-solid fa-envelope"></i></a>
                </div>
                <div> <a href="https://instagram.com/webxperts_uz?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                        class="media_link"><i class="fa-brands fa-instagram"></i></a></div>
                <div> <a href="https://t.me/webxperts_uz" class="media_link"><i class="fa-solid fa-bullhorn"></i></a>
                </div>
            </div>
            <div class="bottomDiv">
                <p class="copy"><i class="fa-regular fa-copyright"></i> 2023 Copyright: <a
                        href="https://www.webxperts.uz">www.webxperts.uz</a></p>
            </div>
        </footer>
    </div>
    <div class="profile-container">
        <div class="profile-div">

        </div>
    </div>

</body>
<script>
    function logout() {
        fetch("/logout", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: false })
        })
        window.location.href = "/"
    }
    document.getElementsByClassName("nav_link")[0].addEventListener("click", () => {
        window.location.href = "/"
    })
    window.onload = function () {

        const classId = window.location.href.slice(-40, -27)
        const userId = window.location.href.slice(-60, -47)
        const period = window.location.href.slice(-81, -66)
        const studentId = window.location.href.slice(-18, -5)
        const res = fetch("/id", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: userId })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName('profile-div')[0].innerHTML =
                    arr.map(i => {
                        if (arr[0].el.role == "admin") {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                        else {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <p>Класс:  ${arr[0].el.class_num} ${arr[0].el.class_letter}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                    })

                document.getElementById("profile-img").src = arr[0].el.img
                document.getElementById("img-top").src = arr[0].el.img
            })

        const response = fetch("/studentid", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ sid: studentId, cid: classId, uid: userId, period: period })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName("center_field")[0].innerHTML =
                    `
                    <form action="/editStudent" method="post" enctype="multipart/form-data">
                        <label class="imgField" for="editimg" style="background-image:url(${arr[0].x.img}); width:400px; height:500px;"></label>
                    <div class="student_inputs">
                        <input type="text" name="cid" value=${classId} style="display:none;">
                        <input type="text" name="sid" value=${studentId} style="display:none;">
                        <h1>Ученик</h1>
                        <input name="student_name" value="${arr[0].x.student_name}" placeholder="${arr[0].x.student_name}">
                        <input name="student_birth_date" minlength="10" id="date1" placeholder="Дата Рождения" value="${arr[0].x.student_birth_date}" placeholder="${arr[0].x.student_birth_date}">
                        <input name="serial_number" value="${arr[0].x.serial_number}" placeholder="${arr[0].x.serial_number}">
                        <input name="student_tel" value="${arr[0].x.student_tel}" placeholder="${arr[0].x.student_tel}">
                        <input name="student_adress" value="${arr[0].x.student_adress}" placeholder="${arr[0].x.student_adress}">
                        <input name="student_mahalla" value="${arr[0].x.student_mahalla}" placeholder="${arr[0].x.student_mahalla}">
                        <select id="family_status" name="family_status" required>
                        </select>
                        <textarea name="student_attraction" placeholder="${arr[0].x.student_attraction}" cols="30" rows="10">${arr[0].x.student_attraction}</textarea>
                        <textarea name="student_health_status" placeholder="${arr[0].x.student_health_status}" cols="30" rows="10">${arr[0].x.student_health_status}</textarea>
                        </div>
                    <div class="parents">
                        <div class="mother_inputs">
                            <h1>Мать:</h1>
                        <input name="mother_name" value="${arr[0].x.mother.mother_name}" placeholder="${arr[0].x.mother.mother_name}">
                        <input name="mother_birth_date" minlength="10" id="date2" placeholder="Дата Рождения" value="${arr[0].x.mother.mother_birth_date}" placeholder="${arr[0].x.mother.mother_birth_date}">
                        <input name="mother_serial_number" value="${arr[0].x.mother.mother_serial_number}" placeholder="${arr[0].x.mother.mother_serial_number}">
                        <input name="mother_tel" value="${arr[0].x.mother.mother_tel}" placeholder="${arr[0].x.mother.mother_tel}">
                        <input name="mother_adress" value="${arr[0].x.mother.mother_adress}" placeholder="${arr[0].x.mother.mother_adress}">
                        <input name="mother_mahalla" value="${arr[0].x.mother.mother_mahalla}" placeholder="${arr[0].x.mother.mother_mahalla}">
                        <input name="mother_workplace" value="${arr[0].x.mother.mother_workplace}" placeholder="${arr[0].x.mother.mother_workplace}">
                        </div>
                        <div class="father_inputs">
                            <h1>Отец:</h1>
                            <input name="father_name" value="${arr[0].x.father.father_name}" placeholder="${arr[0].x.father.father_name}">
                        <input name="father_birth_date" minlength="10" id="date3" placeholder="Дата Рождения" value="${arr[0].x.father.father_birth_date}" placeholder="${arr[0].x.father.father_birth_date}">
                        <input name="father_serial_number" value="${arr[0].x.father.father_serial_number}" placeholder="${arr[0].x.father.father_serial_number}">
                        <input name="father_tel" value="${arr[0].x.father.father_tel}" placeholder="${arr[0].x.father.father_tel}">
                        <input name="father_adress" value="${arr[0].x.father.father_adress}" placeholder="${arr[0].x.father.father_adress}">
                        <input name="father_mahalla" value="${arr[0].x.father.father_mahalla}" placeholder="${arr[0].x.father.father_mahalla}">
                        <input name="father_workplace" value="${arr[0].x.father.father_workplace}" placeholder="${arr[0].x.father.father_workplace}">
                                <button class="uniqueBtn" style="padding: 0 !important; width: 170px; height: 40px;" type="submit">Сохранить</button>
                        </div>
                    </div>
                        </form>
                `
                console.log(window.screen.width);
                if (window.screen.width < 901) {
                    document.querySelector("form").innerHTML = `
                    <div class="student_inputs">
                        <h1>Ученик:</h1>
                        <div class="row-1">
                                <label class="imgField" for="img" style="background-image:url(${arr[0].x.img}); width:400px; height:500px;"></label>
                            <div>
                        <input type="text" name="cid" value=${classId} style="display:none;">
                        <input type="text" name="sid" value=${studentId} style="display:none;">
                        <input name="student_name" value="${arr[0].x.student_name}" placeholder="${arr[0].x.student_name}">
                        <input name="student_birth_date" minlength="10" id="date1" placeholder="Дата Рождения" value="${arr[0].x.student_birth_date}" placeholder="${arr[0].x.student_birth_date}">
                        <input name="serial_number" value="${arr[0].x.serial_number}" placeholder="${arr[0].x.serial_number}">
                        <input name="student_tel" value="${arr[0].x.student_tel}" placeholder="${arr[0].x.student_tel}">
                        <input name="student_adress" value="${arr[0].x.student_adress}" placeholder="${arr[0].x.student_adress}">
                        <input name="student_mahalla" value="${arr[0].x.student_mahalla}" placeholder="${arr[0].x.student_mahalla}">
                            </div>
                        </div>
                        <div class="row-2">
                            <select id="family_status" name="family_status" required>
                        </select>
                        <textarea name="student_attraction" placeholder="${arr[0].x.student_attraction}" cols="30" rows="10">${arr[0].x.student_attraction}</textarea>
                        <textarea name="student_health_status" placeholder="${arr[0].x.student_health_status}" cols="30" rows="10">${arr[0].x.student_health_status}</textarea>
                        </div>
                    </div>
                    <div class="parents">
                        <div class="mother_inputs">
                            <h1>Мать:</h1>
                        <input name="mother_name" value="${arr[0].x.mother.mother_name}" placeholder="${arr[0].x.mother.mother_name}">
                        <input name="mother_birth_date" minlength="10" id="date2" placeholder="Дата Рождения" value="${arr[0].x.mother.mother_birth_date}" placeholder="${arr[0].x.mother.mother_birth_date}">
                        <input name="mother_serial_number" value="${arr[0].x.mother.mother_serial_number}" placeholder="${arr[0].x.mother.mother_serial_number}">
                        <input name="mother_tel" value="${arr[0].x.mother.mother_tel}" placeholder="${arr[0].x.mother.mother_tel}">
                        <input name="mother_adress" value="${arr[0].x.mother.mother_adress}" placeholder="${arr[0].x.mother.mother_adress}">
                        <input name="mother_mahalla" value="${arr[0].x.mother.mother_mahalla}" placeholder="${arr[0].x.mother.mother_mahalla}">
                        <input name="mother_workplace" value="${arr[0].x.mother.mother_workplace}" placeholder="${arr[0].x.mother.mother_workplace}">
                        </div>
                        <div class="father_inputs">
                            <h1>Отец:</h1>
                            <input name="father_name" value="${arr[0].x.father.father_name}" placeholder="${arr[0].x.father.father_name}">
                        <input name="father_birth_date" minlength="10" id="date3" placeholder="Дата Рождения" value="${arr[0].x.father.father_birth_date}" placeholder="${arr[0].x.father.father_birth_date}">
                        <input name="father_serial_number" value="${arr[0].x.father.father_serial_number}" placeholder="${arr[0].x.father.father_serial_number}">
                        <input name="father_tel" value="${arr[0].x.father.father_tel}" placeholder="${arr[0].x.father.father_tel}">
                        <input name="father_adress" value="${arr[0].x.father.father_adress}" placeholder="${arr[0].x.father.father_adress}">
                        <input name="father_mahalla" value="${arr[0].x.father.father_mahalla}" placeholder="${arr[0].x.father.father_mahalla}">
                        <input name="father_workplace" value="${arr[0].x.father.father_workplace}" placeholder="${arr[0].x.father.father_workplace}">
                                <button class="uniqueBtn" style="padding: 0 !important; width: 170px; height: 40px;" type="submit">Сохранить</button>
                        </div>
                    </div>
         `
                }
                document.querySelector("label").style.height = document.getElementsByClassName("student_inputs")[0].clientHeight + "px"
                document.getElementsByClassName("student_inputs")[0].addEventListener("input", () => {
                    document.querySelector("label").style.height = document.getElementsByClassName("student_inputs")[0].clientHeight + "px"
                })
                let array1 = ["Малообеспеченная", "Социально-опасное положение", "Полная", "Не полная", "Многодетная (3 и более детей)", "мать вдова", "отец вдовец", "сирота (воспитанник семейного детского дома)"]
                let i = array1.findIndex(el => el == arr[0].x.family_status)
                let a = array1.splice(i, 1)
                array1.unshift(a)
                document.querySelector("#family_status").innerHTML = array1.map(x => `
                <option value="${x}">${x}</option>
               `)
                setTimeout(() => {
                    var dateInput1 = document.getElementById("date1"); // Замените "yourInputId" на реальный ID вашего input-элемента

                    dateInput1.addEventListener("input", function (event) {
                        var inputValue = event.target.value.replace(/\D/g, ''); // Удаляем все нечисловые символы

                        if (inputValue.length > 2 && inputValue.length < 5) {
                            inputValue = inputValue.slice(0, 2) + '/' + inputValue.slice(2);
                        } else if (inputValue.length >= 5) {
                            inputValue = inputValue.slice(0, 2) + '/' + inputValue.slice(2, 4) + '/' + inputValue.slice(4, 8);
                        }

                        if (inputValue.length > 10) {
                            inputValue = inputValue.slice(0, 10); // Ограничиваем ввод до 8 символов
                        }

                        event.target.value = inputValue;
                    });
                    var dateInput2 = document.getElementById("date2"); // Замените "yourInputId" на реальный ID вашего input-элемента

                    dateInput2.addEventListener("input", function (event) {
                        var inputValue = event.target.value.replace(/\D/g, ''); // Удаляем все нечисловые символы

                        if (inputValue.length > 2 && inputValue.length < 5) {
                            inputValue = inputValue.slice(0, 2) + '/' + inputValue.slice(2);
                        } else if (inputValue.length >= 5) {
                            inputValue = inputValue.slice(0, 2) + '/' + inputValue.slice(2, 4) + '/' + inputValue.slice(4, 8);
                        }

                        if (inputValue.length > 10) {
                            inputValue = inputValue.slice(0, 10); // Ограничиваем ввод до 8 символов
                        }

                        event.target.value = inputValue;
                    });
                    var dateInput3 = document.getElementById("date3"); // Замените "yourInputId" на реальный ID вашего input-элемента

                    dateInput3.addEventListener("input", function (event) {
                        var inputValue = event.target.value.replace(/\D/g, ''); // Удаляем все нечисловые символы

                        if (inputValue.length > 2 && inputValue.length < 5) {
                            inputValue = inputValue.slice(0, 2) + '/' + inputValue.slice(2);
                        } else if (inputValue.length >= 5) {
                            inputValue = inputValue.slice(0, 2) + '/' + inputValue.slice(2, 4) + '/' + inputValue.slice(4, 8);
                        }

                        if (inputValue.length > 10) {
                            inputValue = inputValue.slice(0, 10); // Ограничиваем ввод до 8 символов
                        }

                        event.target.value = inputValue;
                    });
                    let profile = document.getElementsByClassName('profile-container')[0];
                    let profile_img = document.getElementById('profile-img');
                    let exit_btn = document.getElementsByClassName('exit-btn')[0];

                    exit_btn.addEventListener('click', () => {
                        profile.classList.remove('__visible')
                    })
                    profile_img.addEventListener('click', () => {
                        profile.classList.add('__visible')
                    })
                    document.querySelector(".imgField").addEventListener("mouseenter", (e) => {
                        console.log(200);
                        document.querySelector(".imgField").zIndex = "-1"
                        document.querySelector(".imgField").innerHTML = `
                        <input name="img" id="editimg" class="img" type="file" style="z-index:1 !important; width:100% !important; height:100% !important;" accept="image/webp">
                                    `
                        document.querySelector("#editimg").addEventListener("change", function () {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                document.querySelector(".imgField").style.backgroundImage = `url(${e.target.result})`
                            }
                            reader.readAsDataURL(this.files[0]);
                            const formData = new FormData();
                            formData.append('image', this.files[0]);
                        })
                    })
                }, 100);
            })
    }
</script>

</html>