<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/edit_profile.css">
    <link rel="stylesheet" href="/styles/swiper.css">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <title>online-base.uz</title>
</head>


<body>
    <div class="container">
        <nav>
            <div>
                <h1 class="nav_link">online-base.uz</h1>
                <span class="searching"></span>
            </div>
            <img id="profile-img">
        </nav>
        <div class="teacherInfo">
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-div">
        </div>
    </div>
    <footer>
        <div class="topDiv">
            <div> <a href="https://t.me/webxperts" class="media_link"><i class="fa-brands fa-telegram"></i></a></div>
            <div> <a href="mailto:webxperts.uz@gmail.com" class="media_link"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <div> <a href="https://instagram.com/webxperts_uz?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                    class="media_link"><i class="fa-brands fa-instagram"></i></a></div>
            <div> <a href="https://t.me/webxperts_uz" class="media_link"><i class="fa-solid fa-bullhorn"></i></a>
            </div>
        </div>
        <div class="bottomDiv">
            <p class="copy"><i class="fa-regular fa-copyright"></i> 2023 Copyright: <a
                    href="https://www.webxperts.uz">www.webxperts.uz</a></p>
        </div>
    </footer>
</body>
<script>function logout() {
        fetch("/logout", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: false })
        })
        window.location.href = "/"
    }
    document.getElementsByClassName("nav_link")[0].addEventListener("click", () => {
        window.location.href = "/"
    })
    window.onload = function () {
        const userID = window.location.href.slice(-52, -39)
        const classID = window.location.href.slice(-32, -19)
        const period = window.location.href.slice(-73, -58)
        const response = fetch("/id", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: userID })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName('profile-div')[0].innerHTML =
                    arr.map(i => {
                        if (arr[0].el.role == "admin") {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                        else {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <p>Класс:  ${arr[0].el.class_num} ${arr[0].el.class_letter}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }

                    })
                document.getElementById("profile-img").src = arr[0].el.img
                document.getElementById("img-top").src = arr[0].el.img

            })
        const res = fetch("/classid", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: classID, period: period })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName("teacherInfo")[0].innerHTML =
                    arr.map(i => {
                        return `
                    <div class="form-field">
                    <form action="/editClass" method="post" class="teacherInfoForm" enctype="multipart/form-data">
                    </form>
                    </div>
                    `
                    })
                document.getElementsByClassName("teacherInfoForm")[0].innerHTML =
                    arr.map(i => {
                        return `
                        <label for="editimg" class="imgEdit" style="background-image:url(${i.el.img})"></label>
                        <div>
                            <input type="text" name="cid" value=${classID} style="opacity: 0; width:0; height:0;">
                            <p>Ф.И.О:</p>
                            <input name="name" class="name" type="text" value="${i.el.name}" placeholder='${i.el.name}'>
                            <p>Класс:</p>
                            <input name="num" class="num" type="text" value="${i.el.class_num}" placeholder='${i.el.class_num}'>
                            <p>Буква:</p>
                            <input name="letter" class="letter" type="text" value=${i.el.class_letter} placeholder='${i.el.class_letter}'>
                            <p>Пароль:</p>
                            <input name="pass" class="letter" type="text" value=${i.ex.password} placeholder='${i.ex.password}'>
                            <button class="uniqueBtn" style="height: 40px;" type=" submit">Сохранить</button> 
                        </div>                                                                                                                  
                    `
                    })

                setTimeout(() => {
                    let profile = document.getElementsByClassName('profile-container')[0];
                    let profile_img = document.getElementById('profile-img');
                    let exit_btn = document.getElementsByClassName('exit-btn')[0];
                    exit_btn.addEventListener('click', () => {
                        profile.classList.remove('__visible')
                    })
                    profile_img.addEventListener('click', () => {
                        profile.classList.add('__visible')
                    })
                    document.querySelector(".imgEdit").addEventListener("mouseenter", (e) => {
                        document.querySelector(".imgEdit").innerHTML = `
                        <input name="img" id="editimg" class="img" type="file" style=" z-index:999 !important; width:100% !important; height:100% !important;" accept="image/webp">
                                    `
                        document.querySelector("#editimg").addEventListener("change", function () {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                document.querySelector(".imgEdit").style.backgroundImage = `url(${e.target.result})`
                            }
                            reader.readAsDataURL(this.files[0]);
                            const formData = new FormData();
                            formData.append('image', this.files[0]);
                        })
                    })
                    // document.querySelector(".imgEdit").addEventListener("mouseleave", (e) => {
                    //     document.querySelector("#editimg").remove()
                    // })

                }, 1000);
            })
    }
</script>

</html>