<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/swiper.css">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <title>online-base.uz</title>
</head>


<body>
    <div class="container">
        <nav>
            <div>
                <h1 class="nav_link">online-base.uz</h1>
                <span class="searching"></span>
            </div>
            <img id="profile-img">
        </nav>
        <div class="teacherInfo">
        </div>
    </div>
    <div class="profile-container">
        <div class="profile-div">

        </div>
    </div>
</body>
<script>function logout() {
        fetch("/logout", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: false })
        })
        window.location.href = "/"
    }
    document.getElementsByClassName("nav_link")[0].addEventListener("click", () => {
        window.location.href = "/"
    })
    window.onload = function () {
        const period = window.location.href.slice(-68, -53)
        const userID = window.location.href.slice(-47, -34)
        const classID = window.location.href.slice(-27, -14)
        const response = fetch("/id", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: userID })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName('profile-div')[0].innerHTML =
                    arr.map(i => {
                        if (arr[0].el.role == "admin") {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                        else {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <p>Класс:  ${arr[0].el.class_num} ${arr[0].el.class_letter}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                    })
                document.getElementById("profile-img").src = arr[0].el.img
                document.getElementById("img-top").src = arr[0].el.img
            })
        const res = fetch("/classid", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: classID, period: period })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                // <a href=${i.el.img} download><button><i class="fa-solid fa-download"></i></button></a>    
                document.getElementsByClassName("teacherInfo")[0].innerHTML =
                    arr.map(i => {
                        return `
                    <div class="profile_field">
                        <img id="labelImg" src=${i.el.img}>
                        <div class="profile_info">
                            <h2>Профиль</h2>
                            <p class="profileName">ID: <span>${i.el.id}</span></p>
                            <p class="profileName">Ф.И.О: <span>${i.el.name}</span></p>
                            <p class="profileName">Класс: <span>${i.el.class_num} ${i.el.class_letter}</span></p>
                            <p class="profileName">Логин: <span>${i.ex.login}</span></p>
                            <p class="profileName">Пароль: <span>${i.ex.password}</span></p>
                            <div class="button_line"></div>
                        </div>
                    </div>
                    `
                    })
                const date_res = fetch("/date", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ data: "200" })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.date == period) {
                            document.getElementsByClassName("button_line")[0].innerHTML = `<a href=/period:${period}/user:${userID}/class:${classID}/stuff-profile/edit><button id="change_button" type="submit">Изменить</button></a>`
                        }
                    })
            })

        // document.getElementById("removeClass").addEventListener("click", () => {
        //     fetch("/remove/class", {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({ cid: classID, uid: userID })
        //     })
        //         .then(response => response.json())
        //         .then(data => {
        //             window.location.replace(data.url)
        //         })
        // })
    }

    setTimeout(() => {
        let profile = document.getElementsByClassName('profile-container')[0];
        let profile_img = document.getElementById('profile-img');
        let exit_btn = document.getElementsByClassName('exit-btn')[0];
        exit_btn.addEventListener('click', () => {
            profile.classList.remove('__visible')
        })
        profile_img.addEventListener('click', () => {
            profile.classList.add('__visible')
        })
    }, 1000);
</script>

</html>