<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="stylesheet" href="/styles/student.css">
    <link rel="stylesheet" href="/styles/swiper.css">
    <link rel="shortcut icon" href="/images/logo/logo.png" type="image/x-icon">
    <title>online-base.uz</title>
</head>


<body>
    <div class="container">
        <nav>
            <div>
                <h1 class="nav_link">online-base.uz</h1>
                <span class="searching"></span>
            </div>
            <img id="profile-img">
        </nav>
        <div class="studentInfo">

        </div>

        <footer>
            <div class="topDiv">
                <div> <a href="https://t.me/webxperts" class="media_link"><i class="fa-brands fa-telegram"></i></a>
                </div>
                <div> <a href="mailto:webxperts.uz@gmail.com" class="media_link"><i
                            class="fa-solid fa-envelope"></i></a>
                </div>
                <div> <a href="https://instagram.com/webxperts_uz?utm_source=qr&igshid=MzNlNGNkZWQ4Mg=="
                        class="media_link"><i class="fa-brands fa-instagram"></i></a></div>
                <div> <a href="https://t.me/webxperts_uz" class="media_link"><i class="fa-solid fa-bullhorn"></i></a>
                </div>
            </div>
            <div class="bottomDiv">
                <p class="copy"><i class="fa-regular fa-copyright"></i> 2023 Copyright: <a
                        href="https://www.webxperts.uz">www.webxperts.uz</a></p>
            </div>
        </footer>
    </div>
    <div class="profile-container">
        <div class="profile-div">

        </div>
    </div>

</body>
<script>
    function logout() {
        fetch("/logout", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: false })
        })
        window.location.href = "/"
    }
    document.getElementsByClassName("nav_link")[0].addEventListener("click", () => {
        window.location.href = "/"
    })
    window.onload = function () {
        const classId = window.location.href.slice(-35, -22)
        const userId = window.location.href.slice(-55, -42)
        const studentId = window.location.href.slice(-13)
        const period = window.location.href.slice(-76, -61)
        const res = fetch("/id", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: userId })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName('profile-div')[0].innerHTML =
                    arr.map(i => {
                        if (arr[0].el.role == "admin") {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                        else {
                            return `
            <i class="exit-btn fa-solid fa-xmark"></i>
            <div class="profile">
                <div>
                    <p class="profile_name">${arr[0].el.name}</p>
                    <p>ID: ${arr[0].el.id}</p>
                    <p>Класс:  ${arr[0].el.class_num} "${arr[0].el.class_letter}"</p>
                    <div class="col_btn"> <button onclick="logout()">Выйти</button></div>    
                </div>   
                <img id="img-top">    
            </div>
            `
                        }
                    })

                document.getElementById("profile-img").src = arr[0].el.img
                document.getElementById("img-top").src = arr[0].el.img

            })

        const response = fetch("/studentid", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ sid: studentId, cid: classId, uid: userId, period: period })
        })
            .then(response => response.json())
            .then(data => {
                let arr = []
                arr.push(data)
                document.getElementsByClassName("studentInfo")[0].innerHTML =
                    `
                <div class="student-field">
                    <div class="student-field-img">
                        <a class="_download" href=${arr[0].x.img} download><button><i class="fa-solid fa-download"></i></button></a>
                        <img src=${arr[0].x.img}>
                    </div>
                    <div class="student-field-student g">
                      <div>
                        <p><span>Ученик:</span> ${arr[0].x.student_name}</p>
                        <p><span>Дата Рождения:</span> ${arr[0].x.student_birth_date}</p>
                        <p><span>Серия документа:</span> ${arr[0].x.serial_number}</p>
                        <p><span>Номер телефона:</span> ${arr[0].x.student_tel}</p>
                        <p><span>Адресс:</span> ${arr[0].x.student_adress}</p>
                        <p><span>Махалля:</span> ${arr[0].x.student_mahalla}</p>
                        <p><span>Семейное положение:</span> ${arr[0].x.family_status}</p>
                        <p><span>Увлечения:</span> ${arr[0].x.student_attraction}</p>
                        <p><span>Здоровье:</span> ${arr[0].x.student_health_status}</p>
                        <div id="button_line"></div>
                        </div>
                    </div>
                    <div class="student-field-parents g">
                        <div class="student-field-mother g">
                            <div> 

                        <p><span>Мать:</span> ${arr[0].x.mother.mother_name}</p>
                        <p><span>Дата Рождения:</span> ${arr[0].x.mother.mother_birth_date}</p>
                        <p><span>Серия паспорта:</span> ${arr[0].x.mother.mother_serial_number}</p>
                        <p><span>Номер телефона:</span> ${arr[0].x.mother.mother_tel}</p>
                        <p><span>Адресс:</span> ${arr[0].x.mother.mother_adress}</p>
                        <p><span>Махалля:</span> ${arr[0].x.mother.mother_mahalla}</p>
                        <p><span>Место работы:</span> ${arr[0].x.mother.mother_workplace}</p></div>
                        </div>  
                        <div class="student-field-father g">
                            <div>

                        <p><span>Отец:</span> ${arr[0].x.father.father_name}</p>
                        <p><span>Дата Рождения:</span> ${arr[0].x.father.father_birth_date}</p>
                        <p><span>Серия паспорта:</span> ${arr[0].x.father.father_serial_number}</p>
                        <p><span>Номер телефона:</span> ${arr[0].x.father.father_tel}</p>
                        <p><span>Адресс:</span> ${arr[0].x.father.father_adress}</p>
                        <p><span>Махалля:</span> ${arr[0].x.father.father_mahalla}</p>
                        <p><span>Место работы:</span> ${arr[0].x.father.father_workplace}</p></div>
                        </div>  
                    </div>    
                </div>        
                `
                if (window.screen.width <= 900) {
                    document.querySelector('.student-field').innerHTML = `
                        <div class="_div student-field-img">
                            <a class="_download" href=${arr[0].x.img} download><button><i class="fa-solid fa-download"></i></button></a>
                            <img src=${arr[0].x.img}>
                        </div>

                        <div class="_div">
                            <p><span>Ученик:</span> ${arr[0].x.student_name}</p>
                            <p><span>Дата Рождения:</span> ${arr[0].x.student_birth_date}</p>
                            <p><span>Серия документа:</span> ${arr[0].x.serial_number}</p>
                            <p><span>Номер телефона:</span> ${arr[0].x.student_tel}</p>
                            <p><span>Адресс:</span> ${arr[0].x.student_adress}</p>
                            <p><span>Махалля:</span> ${arr[0].x.student_mahalla}</p>
                            <p><span>Семейное положение:</span> ${arr[0].x.family_status}</p>
                            <p><span>Увлечения:</span> ${arr[0].x.student_attraction}</p>
                            <p><span>Здоровье:</span> ${arr[0].x.student_health_status}</p>   
                            <div id="button_line"></div>  
                        </div>

                        <div class="_div">
                            <p><span>Мать:</span> ${arr[0].x.mother.mother_name}</p>
                            <p><span>Дата Рождения:</span> ${arr[0].x.mother.mother_birth_date}</p>
                            <p><span>Серия паспорта:</span> ${arr[0].x.mother.mother_serial_number}</p>
                            <p><span>Номер телефона:</span> ${arr[0].x.mother.mother_tel}</p>
                            <p><span>Адресс:</span> ${arr[0].x.mother.mother_adress}</p>
                            <p><span>Махалля:</span> ${arr[0].x.mother.mother_mahalla}</p>
                            <p><span>Место работы:</span> ${arr[0].x.mother.mother_workplace}</p></div>   
                        </div>

                        <div class="_div">
                            <p><span>Отец:</span> ${arr[0].x.father.father_name}</p>
                            <p><span>Дата Рождения:</span> ${arr[0].x.father.father_birth_date}</p>
                            <p><span>Серия паспорта:</span> ${arr[0].x.father.father_serial_number}</p>
                            <p><span>Номер телефона:</span> ${arr[0].x.father.father_tel}</p>
                            <p><span>Адресс:</span> ${arr[0].x.father.father_adress}</p>
                            <p><span>Махалля:</span> ${arr[0].x.father.father_mahalla}</p>
                            <p><span>Место работы:</span> ${arr[0].x.father.father_workplace}</p></div> 
                        </div>
                    `
                }
                document.getElementById("button_line").innerHTML = `
                <div><a class="teacher-link " id="teacher-link" href="/period:${period}/user:${userId}/class:${classId}/student:${studentId}/edit"><button style="height:40px; width:150px;" class="uniqueBtn">Изменить</button></a></div>
                <div><button class="uniqueBtn" style="height:40px; width:150px;" id="remove">Удалить</button></div>
                `
            })
        setTimeout(() => {
            document.getElementById("remove").addEventListener("click", () => {
                fetch("/remove/student", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ sid: studentId, cid: classId, uid: userId, period: period })
                })
                    .then(response => response.json())
                    .then(data => {
                        window.location.replace(data.url)
                    })
            })
            let profile = document.getElementsByClassName('profile-container')[0];
            let profile_img = document.getElementById('profile-img');
            let exit_btn = document.getElementsByClassName('exit-btn')[0];

            exit_btn.addEventListener('click', () => {
                profile.classList.remove('__visible')
            })
            profile_img.addEventListener('click', () => {
                profile.classList.add('__visible')
            })
        }, 500);

    }
</script>

</html>