<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col"></div>
        <div class="col">
            <table>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    const id = window.location.href.slice(27)
    const response = fetch("/id", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ data: id })
    })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            let arr = []
            arr.push(data)
            document.getElementsByClassName("col")[0].innerHTML =
                arr.map(i => `
              <img class="img" src=${i.img}></img>
              <p class="name">${i.name}</p>
              <p>Класс: <span>${i.class}</span> </p>
              <p>Учеников: <span>${i.amount}</span> </p>
              <p>Мальчиков: <span>${i.males}</span> </p>
              <p>Девочек: <span>${i.females}</span> </p>
                  `).join("")
        })
</script>

</html>