body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.container {
    z-index: 99;
    height: 100%;
    width: 100%;
}

nav {
    height: auto;
    border-bottom: 2px solid black;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    display: inline-block;
    font-size: 30px;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.form-field {
    border: #000 solid 1px;
    display: flex;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#labelImg {
    width: 400px;
    height: 500px;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border-left: #000 solid 1px;
    background-color: #354251;
}

input,
select {
    height: 40px !important;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 17px;
}

select,
select option:nth-child(1) {
    color: gray;
}

option {
    color: #000;
}

#img {
    display: none;
    width: 0;
    height: 0;
}

input,
select :active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

label {
    border-radius: 10px;
    width: 400px;
    height: 500px;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 17px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.imgField {
    width: 400px;
    height: 500px;
}

button {
    height: 40px;
    font-size: 16px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

@media screen and (max-width: 860px) {

    .form-field label,
    .addform {
        width: 300px;
    }
}