body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    padding: 0;
    margin: 0;
}

.container {
    z-index: 99;
    height: 100%;
}

nav {
    height: auto;
    border-bottom: 2px solid black;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    display: inline-block;
    font-size: 30px;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form label {
    border: 1px solid black;
    width: 30%;
}

form label img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imgField {
    z-index: 1;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#editimg {
    cursor: pointer;
    z-index: -1;
    opacity: 0;
}

.student_inputs {
    width: 30%;
    padding: 30px 10px;
    background-color: #354251;
    padding-left: 20px;
    height: 65vh;
    border: 1px solid black;
    border-left: none;
}

form h1 {
    margin-bottom: 30px;
    color: #fff;
}

.student_inputs input {
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.mother_inputs,
.father_inputs {
    height: 50%;
}

.student_inputs textarea {
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    width: 70%;
    height: 100px;
}

/* .student_inputs ._textarea {
    height: 200px !important;
} */
#family_status {
    width: 70%;
    margin-bottom: 20px;
}

.student_inputs select {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}

.parents {
    width: 30%;
    padding: 30px 10px;
    background-color: #354251;
    padding-left: 20px;
    height: 65vh;
    border: 1px solid black;
    border-left: none;
}

.father_inputs {
    border-top: 1px solid #fff;
    padding: 30px 0;
}

.parents input {
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

form button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}

@media screen and (max-width: 1180px) {
    .student_inputs {
        padding: 20px 10px;
    }

    .parents {
        padding: 20px 10px;
    }

    .father_inputs {
        padding-top: 15px;
    }

    form h1 {
        margin: 0;
        font-size: 18px;
    }

    form input {
        margin: 5px 0;
        width: 150px;
    }

    form textarea {
        margin: 5px 0;
    }
}

@media screen and (max-width: 1100px) {
    form {
        flex-wrap: wrap;
    }

    .student_inputs {
        border: none;
        width: 40%;
        height: auto;
        padding: 10px;
    }

    label {
        border: none !important;
        width: 40% !important;
    }


    .parents {
        width: 80%;
        display: flex;
        justify-content: center;
        border: none;
        border-top: 1px solid white;
        height: 100%;
    }

    .parents .father_inputs {
        padding: 0;
        border-top: none;
        border-left: 1px solid #fff;
        padding-left: 10px;
    }
}

@media screen and (max-width: 920px) {
    form textarea {
        height: 60px;
    }

    form select {
        padding: 0 5px;
        height: 40px;
    }

    .parents div {
        border: none !important;
    }
}


@media screen and (max-width: 900px) {
    .student_inputs {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .student_inputs .row-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    form label {
        border-radius: 20px;
        height: 300px !important;
        width: 500px !important;
    }

    .student_inputs .row-1 div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        justify-content: center;
        height: 400px;
    }

    .student_inputs input {
        display: inline-block;
        width: 200px;
    }

    .parents input {
        width: 300px;
    }

    .student_inputs .row-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .student_inputs .row-2 textarea {
        width: 40%;
        height: 100px;
    }

    .student_inputs .row-2 select {
        width: 90%;
        margin-bottom: 20px;
    }

    form h1 {
        margin-bottom: 10px;
    }

    form button {
        float: right;
        margin-right: 60px;
    }

}

@media screen and (max-width: 800px) {
    .parents input {
        width: 250px;
    }

    form button {
        float: right;
        margin-right: 70px;
    }


    .student_inputs input {
        display: inline-block;
        width: 180px;
    }

    .row-1 {
        height: 300px;
    }

    .row-1 div {
        height: 100px !important;
    }
}

@media screen and (max-width: 680px) {

    form input,
    form textarea {
        font-size: 12px;
    }

    .parents input {
        width: 200px;
    }

    .student_inputs input {
        display: inline-block;
        width: 150px;
    }
}

@media screen and (max-width: 620px) {
    .student_inputs input {
        width: 135px;
    }

    .student_inputs .row-2 textarea {
        height: 60px;
    }
}

@media screen and (max-width: 577px) {
    .student_inputs input {
        width: 120px;
    }

    form textarea,
    form input {
        font-size: 10px;
    }
}

@media screen and (max-width: 554px) {
    .student_inputs input {
        width: 110px;
    }

    .student_inputs label {
        height: 260px !important;
    }

    form textarea,
    form input {
        font-size: 10px;
    }
}

@media screen and (max-width: 554px) {
    .parents input {
        width: 170px;
    }

    .row-1 {
        display: flex !important;
        align-items: center !important;
        justify-self: center !important;

    }

    .student_inputs input {
        width: 100px;
    }
}