body,
html {
    height: 100%;
}

.teacherInfo {
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_field {
    height: 55%;
    margin: auto;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}

#labelImg {
    height: 100%;
    width: 450px;
}

.profileName span {
    font-size: 20px
}

.profile_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    white-space: nowrap;
    background-color: #354251;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding: 0 10px;
    width: 450px;
}

#change_button {
    height: 40px;
    width: 190px;
}