body,
html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.exit-btn {
    color: #354251 !important;
}

.container {
    width: 100% !important;
}

.studentInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
}

.student-field p span {
    font-weight: 600;
    font-size: 18px;
}

.student-field p {
    font-size: 15px;
    margin-bottom: 10px;
}

.student-field {
    display: flex;
    background-color: #354251;
    width: 95%;
    height: min-content;
}

.g {
    width: 100%;
    /* border: 1px solid #000; */
}

.student-field-student {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: #fff 1px solid;
    border-left: #fff 1px solid;
}

.student-field-img ._download button {
    color: #fff;
    right: 10px;
    bottom: 10px;
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: all 1s ease;
}

.student-field-img ._download button:hover {
    color: #354251;
}

.student-field-mother,
.student-field-father {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.student-field-mother div,
.student-field-father div,
.student-field-student div:nth-child(1) {
    width: 80%;
    height: 80%;
}

.student-field-img {
    position: relative;
}

.student-field-img img {
    height: 100%;
    width: 400px;
}

#button_line {
    margin-top: 10%;
}

#button_line div {
    display: inline;
}

@media screen and (max-width:1560px) {
    #button_line button {
        font-size: 16px;
        width: 100px !important;
    }

    .student-field p span {
        font-size: 16px;
    }

    .student-field p {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:1110px) {
    .student-field p span {
        font-weight: 500;
        font-size: 15px;
    }

    .student-field p {
        font-size: 14px;
        margin-bottom: 5px;
    }
}


@media screen and (max-width:1055px) {
    .g {
        padding-top: 5px;
        justify-content: start;
    }

    .student-field p span {
        font-size: 15px;
    }

    .student-field p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    #button_line button {
        margin-bottom: 5px;
    }
}

@media screen and (max-width:900px) {
    .studentInfo {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .student-field {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        color: #354251;
    }

    ._div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #354251;
        color: #fff;
        width: 50%;
    }

    .student-field-img {
        height: auto;
        width: 50%;
    }

    .student-field-img img {
        height: auto;
        width: 100%;
    }

    ._div p span {
        font-size: 18px;
        font-weight: 600;
    }

    ._div p {
        margin: 10px;
        font-size: 16px;
    }

    #button_line {
        display: block !important;
        margin: 0;
    }

    footer {
        display: none;
    }
}

@media screen and (max-width:810px) {
    ._download button {
        bottom: 20px !important;
    }

    ._div p span {
        font-size: 16px;
    }

    ._div p {
        margin: 10px;
        font-size: 15px;
    }

    footer {
        display: inline-block;
    }
}

/* @media screen and (max-width:810px) {
    ._div p {
        margin: 5px;
    }
} */

@media screen and (max-width:650px) {
    ._div p span {
        font-size: 15px;
    }

    ._div p {
        font-size: 14px;
    }

    #button_line div button {
        font-size: 12px;
        font-weight: 500;
        height: 30px !important;
    }
}

@media screen and (max-width:610px) {
    ._div p span {
        font-size: 14px;
    }

    ._div p {
        font-size: 13px;
    }
}

@media screen and (max-width:570px) {
    ._div p span {
        font-size: 13px;
    }

    ._div p {
        font-size: 12px;
    }
}

@media screen and (max-width:520px) {
    ._download {
        display: none;
    }
}