.swiper {
    margin-top: 60px;
    width: auto;
    height: 55vh;
    overflow-y: auto;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #ddd;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #000;
}